
<% if (webpackConfig.mode === 'production') { %>
    {% load static %}
<% } %>

<!DOCTYPE html>
<html lang="en" class="" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>>

<head>
    <title>
        Document
    </title>
    <% if(webpackConfig.mode === 'production') { %>
        <% for (var css in htmlWebpackPlugin.files.css) { %>
            <link href="{% static 'css/<%= htmlWebpackPlugin.files.css[css] %>' %}" rel="stylesheet">
        <% } %>    

        <% if (htmlWebpackPlugin.files.favicon) { %>
            <link rel="shortcut icon" href="{% static 'icons/<%= htmlWebpackPlugin.files.favicon%>' %}">
        <% } %>
    <% } else {  %>

        <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
        <%= htmlWebpackPlugin.tags.headTags %>

    <% } %>
</head>

<body>
    <div id="root">

    </div>
    <% if(webpackConfig.mode === 'production') { %>
        <% for (var js in htmlWebpackPlugin.files.js) { %>
            <script src="{% static 'js/<%= htmlWebpackPlugin.files.js[js] %>' %}" rel="stylesheet">
            </script>
        <% } %>    
    <% } else { %>

        <%= htmlWebpackPlugin.tags.bodyTags %>        

    <% } %>
</body>

</html>